<div class="screen-container d-flex justify-content-center align-items-center">
  <div class="card-container">
    <div class="card text-center" style="width: 40rem;">
      <div class="card-body smooth">
        <h2 class="card-title">Add Account</h2>
        <div class="close-container">
          <a class="close-btn" (click)="close()">
            <i class="ion-ios-close"></i>
          </a>
        </div>
        <div *ngIf="!loading && !valid" @ngIfAnimation>
          <button
            id="add-account-btn"
            class="btn btn-info"
            [class.disabled]="key === '' || secret === '' || url == '' || (isSaveSecurely && masterPassword === '')"
            (click)="testAccount()"
          >
            Add Account
          </button>
        </div>
        <app-spinner *ngIf="loading" @ngIfAnimation></app-spinner>
      </div>
    </div>
  </div>
</div>
